#------------------------------------
# Project
#------------------------------------

# ...custom project excludes





#------------------------------------
# Tools
#------------------------------------

/*-workspace
/.env
/node_modules
/.idea
/*.sublime-*
/vendor/*





#------------------------------------
# System
#------------------------------------

.cache
.DS_Store
.tmp
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
error_log
Thumbs.db





#------------------------------------
# Gitkeep
#------------------------------------

!.gitkeep
